<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcc.oaservice.mapper.CompanyMapper">

    <select id="selectListCompanyByCondition" resultType="com.lcc.oaservice.vo.CompanyVO"
            parameterType="com.lcc.oaservice.dto.CompanyQueryDTO">
        select id, pid, name, short_name, intro, sort, gmt_create from t_company
        where is_deleted =0
        <if test="name!=null">
            and name like concat('%',#{name},'%')
        </if>
        <if test="begin!=null and end!=null">
            and gmt_create between #{begin} and #{end}
        </if>
    </select>

</mapper>
