<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcc.eduservice.mapper.EduCommentMapper">

    <sql id="sql_where">
        <where>
            <if test="begin!=null and end!=null">
                and a.gmt_create BETWEEN #{begin} AND #{end}
            </if>
            <if test="title!=null">
                and b.title LIKE concat('%',#{title},'%')
            </if>
        </where>
    </sql>

    <select id="selectCommentVOByCondition" parameterType="com.lcc.eduservice.entity.vo.CommentQuery"
            resultType="com.lcc.eduservice.entity.vo.CommentVO">
        SELECT
        a.*,
        b.title
        FROM
        edu_comment a
        LEFT JOIN edu_course b ON a.course_id = b.id
        <include refid="sql_where"></include>
    </select>
</mapper>
