<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcc.eduservice.mapper.EduTeacherMapper">

    <sql id="queryCondition">
        <if test="teacherQuery.name!=null and teacherQuery.name!=''">
            and (name like concat('%',#{teacherQuery.name},'%'))
        </if>
        <if test="teacherQuery.level!=null and teacherQuery.level!=''">
            and level = #{teacherQuery.level}
        </if>
        <if test="teacherQuery.begin!=null and teacherQuery.end!=null">
            and gmt_create between #{teacherQuery.begin} and #{teacherQuery.end}
        </if>
    </sql>

    <!-- 讲师列表查询信息 -->
    <select id="selectTeacherList" resultType="com.lcc.eduservice.entity.EduTeacher"
            parameterType="com.lcc.eduservice.entity.vo.teacher.TeacherQuery">
        SELECT
            id,
            name,
            intro,
            career,
            avatar,
            level,
            gmt_create
        FROM
            edu_teacher
        WHERE
            is_deleted = 0
        <include refid="queryCondition"/>
        ORDER BY
            gmt_create DESC
    </select>
</mapper>
