<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcc.eduservice.mapper.EduTeacherMapper">

    <sql id="queryCondition">
        <if test="name!=null and name!=''">
            and (name like concat(#{name},'%'))
        </if>
        <if test="level!=null">
            and level = #{level}
        </if>
        <if test="begin!=null and end!=null">
            and gmt_create between #{begin} and #{end}
        </if>
    </sql>

    <select id="selectTeacherList" resultType="com.lcc.eduservice.entity.EduTeacher"
            parameterType="com.lcc.eduservice.entity.vo.TeacherQuery">
        select * from edu_teacher where is_deleted = 0
        <include refid="queryCondition"/>
        order by gmt_create
    </select>
</mapper>
